<style type="text/css">
    input{width:60px;}
</style>
<div class="pagetitle">
     <a href="/config">返回</a>
</div>
<div class="message">
    <%-message%>
</div>
<form id="form1" name="form1" method="post">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
    <tr>
        <td class="title">ID</td>
        <td class="title">模式ID</td>
        <td class="title">名称</td>
        <td class="title">描述</td>
        <td class="title">背景ID</td>
        <td class="title">倍率</td>
        <td class="title">最小金贝</td>
        <td class="title">最大金贝</td>
        <td class="title">托管开放</td>
        <td class="title">选牌帮助开放</td>
        <td class="title">编辑</td>
    </tr>
<%
    results.forEach(function(item){
%>
<tr>
    <td class="data"><%-item.region_id%></td>
     <td class="data"><%-item.mode_id%></td>
     <td class="data"><%-item.name%></td>
     <td class="data"><%-item.description%></td>
     <td class="data"><%-item.scene_id%></td>
     <td class="data"><%-item.antes%></td>
    <td class="data"><%-item.min%></td>
    <td class="data"><%-item.max%></td>
    <td class="data"><%-item.trusteeship%></td>
    <td class="data"><%-item.select_help%></td>
    <td class="data"><a href="?id=<%-item.region_id%>">删除</a></td>
</tr>
<%
});
%>
<tr>
    <td class="data"><input type="text" name="region_id" id="region_id" /></td>
    <td class="data"><input type="text" name="mode_id" id="mode_id" /></td>
    <td class="data"><input type="text" name="name" id="name" /></td>
    <td class="data"><input type="text" name="description" id="description" /></td>
    <td class="data"><input type="text" name="scene_id" id="scene_id" /></td>
    <td class="data"><input type="text" name="antes" id="antes" /></td>
    <td class="data"><input type="text" name="min" id="min" /></td>
    <td class="data"><input type="text" name="max" id="max" /></td>
    <td class="data"><input name="box1" type="checkbox" id="box1" value="1" /></td>
    <td class="data"><input name="box2" type="checkbox" id="box2" value="1" /></td>
    <td class="data"><input type="submit" name="submit" id="submit" value="提交" /></td>
</tr>
</table>
</form>