<div class="pagetitle">
    <a href="/Dungeon">返回列表</a>
</div>
<div class="message">
    <%-message%>
</div>
<form id="form1" name="form1" method="post">
<td class="data">
    <input type="submit" name="submit" id="submit" value="提交" />
</td>
<table width="99%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
    <tr class="title">
        <td colspan="4">章节参数配置</td>
    </tr>
    <tr>
        <td class="title">
            编号
        </td>
        <td class="data">
            <%-result[0][0].Dungeon_Id%>
        </td>
    </tr>
    <tr>
        <td class="title">
            章节名称
        </td>
        <td class="data">
            <input type="text" name="Dungeon_Name" id="Dungeon_Name" value="<%-result[0][0].Dungeon_Name%>" />
        </td>
    </tr>
    <tr>
        <td class="title">
            章节顺序
        </td>
        <td class="data">
            <input type="text" name="Dungeon_Order" id="Dungeon_Order" value="<%-result[0][0].Dungeon_Order%>" />
        </td>
    </tr>
    <tr>
        <td class="title">
            章节等级限制
        </td>
        <td class="data">
            <input type="text" name="Dungeon_Lvl_Limit" id="Dungeon_Lvl_Limit" value="<%-result[0][0].Dungeon_Lvl_Limit%>" />
        </td>
    </tr>
    <tr>
        <td class="title">
            章节类型
        </td>
        <td class="data">
            <select name="Dungeon_Type" id="Dungeon_Type">
                <option value="1" <%if(result[0][0].Dungeon_Type == 1){%>selected="selected" <%}%>>PVE</option>
                <option value="3" <%if(result[0][0].Dungeon_Type == 3){%>selected="selected" <%}%>>地精宝库</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="title">
            开放日期
        </td>
        <td class="data">
            <input type="text" name="Open_Day" id="Open_Day" value="<%-result[0][0].Open_Day%>" />格式：1,3,5
        </td>
    </tr>
    <tr>
        <td class="title">
            章节描述
        </td>
        <td class="data">
            <textarea name="Dungeon_Description" id="Dungeon_Description" value="" wrap="virtual" rows="5"><%-result[0][0].Dungeon_Description%></textarea>
        </td>
    </tr>
    <tr>
        <td class="title">
            章节可攻打次数
        </td>
        <td class="data">
            <input type="text" name="Attack_Times_Limit" id="Attack_Times_Limit" value="<%-result[0][0].Attack_Times_Limit%>" />
        </td>
    </tr>
    <tr>
        <td class="title">
            章节地图资源
        </td>
        <td class="data">
            <input type="text" name="Dungeon_Resource_Url" id="Dungeon_Resource_Url" value="<%-result[0][0].Dungeon_Resource_Url%>" />
        </td>
    </tr>
</table>
</form>


<form id="form2" name="form2" method="post">
    <td class="data">
        <a href="/Dungeon/addStage?id=<%-result[0][0].Dungeon_Id%>&dungeontype=<%-result[0][0].Dungeon_Type%>">添加关卡</a>
    </td>
    <table width="99%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98">

        <tr class="title">
            <td colspan="6">关卡列表</td>
        </tr>
        <tr>
            <td class="title">编辑</td>
            <td class="title">编号</td>
            <td class="title">序号</td>
            <td class="title">名称</td>
            <td class="title">类型</td>
            <td class="title">创建日期</td>
        </tr>
        <%
        if (result[1] != "none"){
        result[1].forEach(function(item){
        %>
        <tr>
            <td class="data"><a href="/Dungeon/editStage?id=<%-item.Stage_Id%>&Dungeon_Id=<%-result[0][0].Dungeon_Id%>">编辑</a></td>
            <td class="data"><%-item.Stage_Id%></td>
            <td class="data"><%-item.Stage_Order%></td>
            <td class="data"><%-item.Stage_Name%></td>
            <td class="data"><%if(item.Stage_Type == 1){%>普通<%}else if(item.Stage_Type == 2){%>精英<%}
                else if(item.Stage_Type == 3){%>金币关卡<%}
                else if(item.Stage_Type == 4){%>经验关卡<%}
                else if(item.Stage_Type == 5){%>魔法装备关卡<%}
                else if(item.Stage_Type == 6){%>物理装备关卡<%}%></td>
            <td class="data"><%-item.Create_Date.format('yyyy-MM-dd hh:mm:ss')%></td>
        </tr>
        <%
        });
        }
        %>
    </table>
</form>