<div class="pagetitle">
    <a href="/version/add">添加版本</a>
</div>
<table width="99%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
    <tr>
        <td class="title">编号</td>
        <td class="title">版本名称</td>
        <td class="title">强制更新</td>
        <td class="title">更新地址</td>
        <td class="title">创建日期</td>
        <td class="title">版本顺序</td>
        <td class="title">有效</td>
        <td class="title">操作</td>
    </tr>
    <%
    //if(results){
    results.forEach(function(item){
    %>
    <tr>
        <td class="data"><%-item.Version_Id%></td>
        <td class="data"><%-item.Version_Name%></td>
        <td class="data"><%-item.Is_Force_Update%></td>
        <td class="data"><%-item.Update_Url%></td>
        <td class="data"><%-item.Create_Date.format('yyyy-MM-dd hh:mm:ss')%></td>
        <td class="data"><%-item.Version_Order%></td>
        <td class="data"><%-item.Enable%></td>
        <td class="data"><a href="/version/del?id=<%-item.Version_Id%>">删除</a>
            ||<a href="/version/edit?id=<%-item.Version_Id%>">编辑</a></td>
    </tr>
    <%
    });
    //}
    %>
</table>