<div class="pagetitle">
    <a href="/lottery/lottery_Method/add">添加抽取方法</a>
</div>
<table width="99%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
    <tr>
        <td class="title">编辑</td>
        <td class="title">方法编号</td>
        <td class="title">方法名称</td>
        <td class="title">抽取次数</td>
        <td class="title">奖池</td>
        <td class="title">创建日期</td>
    </tr>
    <%
    results.forEach(function(item){
    %>
    <tr>
        <td class="data"><a href="/lottery/lottery_Method/edit?id=<%-item.Lottery_Method_Id%>"><input type="submit" name="submit" id="submit" value="编辑" /></a></td>
        <td class="data"><%-item.Lottery_Method_Id%></td>
        <td class="data"><%-item.Method_Tag%></td>
        <td class="data"><%-item.Lottery_Times%></td>
        <td class="data"><%-item.Pool_Name%></td>
        <td class="data"><%-item.Create_Date.format('yyyy-MM-dd hh:mm:ss')%></td>
    </tr>
    <%
    });
    %>
</table>