<div class="message">
    <%-message%>
</div>
<form id="form1" name="form1" method="post">
    <td class="data">
        <input type="submit" name="save" id="save" value="提交">
    </td>

    <table width="99%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
        <tr class="title">
            <td colspan="4">战队等级配置</td>
        </tr>

        <tr>
            <td class="title">
                战队等级
            </td>
            <td class="title">
                经验值
            </td>
            <td class="title">
                体力上限
            </td>
            <td class="title">
                体力恢复
            </td>
        </tr>

        <%
        for(var i = 0;i<result.trooplvl.length;i++){%>
        <tr>
            <td class="data">
                <%-i%>
            </td>
            <td class="data">
                <input type="text" name="lvl<%-i%>" id="lvl<%-i%>" value="<%-result.trooplvl[i].Experience%>" />
            </td>
            <td class="data">
                <input type="text" name="stamina<%-i%>" id="lvl<%-i%>" value="<%-result.trooplvl[i].Stamina%>" />
            </td>
            <td class="data">
                <input type="text" name="staminaRecovery<%-i%>" id="lvl<%-i%>" value="<%-result.trooplvl[i].StaminaRecovery%>" />
            </td>
        </tr>
        <%}%>

    </table>
    </form>