<div class="pagetitle">
    <a href="/lottery/pool_Item/index?id=<%-results.Pool_Id%>&Pool_Type=<%-results.Pool_Type%>">返回列表</a>
</div>
<div class="message">
    <%-message%>
</div>
<form id="form1" name="form1" method="post">
<td class="data">
    <input type="submit" name="add" id="add" value="提交">
</td>
<table width="99%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
    <tr class="title">
        <td colspan="4">奖池物品配置</td>
    </tr>
    <tr>
        <td class="title">
            奖池编号
        </td>
        <td class="data">
            <label  name="pool_Id" id="pool_Id"><%-results.Pool_Id%></label>
        </td>
    </tr>
    <tr>
        <td class="title">
            奖池品质
        </td>
        <td class="data">
            <input type="text" name="pool_Quality" id="pool_Quality" value="" />
        </td>
    </tr>
    <tr>
        <td class="title">
            奖池道具
        </td>
        <td class="data">
            <select name = "item_Id" id = "item_Id">
                <option value=""></option>
                <%results.items.forEach(function(item){%>
                <option value="<%-item.Item_Id%>">(<%-item.Item_Order%>)<%-item.Item_Name%></option>
                        <%})%>
            </select>
            <%if(results.Pool_Type == 1){%><input type="text" name="item_Ids" id="item_Ids" value="" /><%}%>
        </td>
    </tr>
    <tr>
        <td class="title">
            道具数量
        </td>
        <td class="data">
            <input type="text" name="item_Amount" id="item_Amount" value="" />
        </td>
    </tr>

    <tr>
        <td class="title">
            描述
        </td>
        <td class="data">
            <textarea name="description" id="description" cols="45" rows="5"></textarea>
        </td>
    </tr>

</table>

</form>