<div class="pagetitle">
    <a href="/Lottery">返回列表</a>
</div>
<div class="message">
    <%-message%>
</div>
<form id="form1" name="form1" method="post">
    <input type="submit" name="submit" id="submit" value="提交" />
    <table width="99%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
        <tr class="title">
            <td colspan="4">奖池配置</td>
        </tr>
        <tr>
            <td class="title">
                编号
            </td>
            <td class="data">
                <label><%-results.Pool_Id%></label>
            </td>
        </tr>
        <tr>
            <td class="title">
                名称
            </td>
            <td class="data">
                <input type="text" name="pool_Name" id="pool_Name" value="<%-results.Pool_Name%>" />
            </td>
        </tr>
        <tr>
            <td class="title">
                在掉落列表显示
            </td>
            <td class="data">
                <input type="radio" value="0" name="is_Display" Id="is_Display" <%
                if(results.Is_Display ==0){
                %>checked="true"<%}%>>不显示
                <input type="radio" value="1" name="is_Display" Id="is_Display"<%
                if(results.Is_Display ==1){
                %>checked="true"<%}%>>显示
            </td>
        </tr>
        <tr>
            <td class="title">
                奖池类型
            </td>
            <td class="data">
                <select name = "Pool_Type" id = "Pool_Type">
                    <option value=""></option>
                    <option value="1" <%if(results.Pool_Type == 1){%>selected="selected"<%}%>>道具</option>
                    <option value="2" <%if(results.Pool_Type == 2){%>selected="selected"<%}%>>商品</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="title">
                描述
            </td>
            <td class="data">
                <textarea name="description" id="description" cols="45" rows="5"><%-results.Pool_Description%></textarea>
            </td>
        </tr>
        <tr>
            <td class="title">
                奖池物品列表
            </td>
            <td class="data">
                <a href="/lottery/pool_Item/index?id=<%-results.Pool_Id%>&Pool_Type=<%-results.Pool_Type%>">物品列表</a>
            </td>
        </tr>
    </table>


</form>