<div class="pagetitle">
    <a href="/Item/Effect/index?id=<%-results.Item_Id%>">返回列表</a>
</div>
<div class="message">
    <%-message%>
</div>
<form id="form1" name="form1" method="post">
    <input type="submit" name="submit" id="submit" value="提交" />
    <table width="99%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
        <tr class="title">
            <td colspan="2">物品效果配置</td>
        </tr>
        <tr>
            <td class="title">
                物品名称
            </td>
            <td class="data">


                    <%
                    results.resultItem.forEach(function(item){
                if(item.Item_Id == results.Item_Id){%>

                <label name="Item_Name" id="Item_Name"><%-item.Item_Name%></label>
                <input name="Item_Id" id="Item_Id" value="<%-item.Item_Id%>" style="visibility: hidden" />
                <%}
                });
                %>


            </td>
        </tr>
        <tr>
            <td class="title">
                物品效果
            </td>
            <td class="data">
                <select name="Effect_Type" id="Effect_Type">
                    <%results.Effects.forEach(function(item){%>
                    <option value="<%-item.value%>" ><%-item.name%></option>
                    <%});%>

                </select>
            </td>
        </tr>
        <tr>
            <td class="title">
                效果数值
            </td>
            <td class="data">

                <input type="text" name="Effect_Value" id="Effect_Value" value="" />
            </td>
        </tr>
        <tr>
            <td class="title">
                描述
            </td>
            <td class="data">
                <textarea name="Effect_Description" id="Effect_Description" value="" wrap="virtual" rows="5"></textarea>
            </td>
        </tr>
    </table>
</form>
