<script type="text/javascript">
    $(function () {
        $('#begin_date').datetimepicker();
        $('#end_date').datetimepicker();
    });
</script>
<script>
    function get_item_name(item_id){
        $('#items').forEach(function(item) {
            if (item.item_id == item_id) {
                return item.name;
            }
        })
        return '';
    }

</script>
<style type="text/css">
    input{width:60px;}
</style>
<div class="pagetitle">
     <a href="/config">返回</a>
</div>
<div class="message">
    <%-message%>
</div>
<form id="form1" name="form1" method="post">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
    <tr>
        <td class="title">礼包ID</td>
        <td class="title">礼包名称</td>
        <td class="title">道具</td>
        <td class="title">操作</td>
    </tr>
<%
    results.forEach(function(package){
%>
<tr>
    <td class="data"><%-package.package_id%></td>
     <td class="data"><%-package.name%></td>
     <td class="data">
        <%
            (package.items?package.items:[]).forEach(function(item){
        %>
            <class="data"><%-item.name%></a>
            <class="data"><%-item.item_count%></a>
        <%
        });
        %>
     </td>
     <td class="data"><a href="?id=<%-package.package_id%>">删除</a> <a href="packages/edit?id=<%-package.package_id%>">编辑</a></td>
</tr>
<%
});
%>
<tr>
    <td class="data"><input type="text" name="package_id" id="package_id" /></td>
    <td class="data"><input type="text" name="name" id="name" /></td>
    <td class="data"></td>
    <td class="data"><input type="submit" name="submit" id="submit" value="添加" /></td>
</tr>
</table>
</form>