<style type="text/css">
    input{width:60px;}
</style>
<script type="text/javascript">
    $(function () {
        $('#begin_date').datetimepicker();
        $('#end_date').datetimepicker();
    });


     function addRound(region_id){
         var round = $('#round').val();
          $.get("/config/regions/match/addRound", { region_id: region_id, round : round, rnd : Math.random() }, function(data){
              if(parseInt(data)==1)
                  window.location.href=window.location.href;
              else
                  alert('添加失败!');
          });
     }
     function removeRound(region_id, index){
          $.get("/config/regions/match/removeRound", { region_id: region_id, index: index, rnd : Math.random() }, function(data){
              if(parseInt(data)==1)
                  window.location.href=window.location.href;
              else
                  alert('删除失败!');
          });
     }
     function updateRound(region_id, index){
          var round = $('#round'+index).val();
          $.get("/config/regions/match/updateRound", { region_id: region_id, index: index, round : round, rnd : Math.random() }, function(data){
              if(parseInt(data)==1){
                  alert('更新成功!');
                  window.location.href=window.location.href;
              }
              else
                  alert('更新失败!');
          });
     }

     function addGameTimes(region_id){
         $.get("/config/regions/match/addGameTimes", { region_id: region_id, rnd : Math.random() }, function(data){
             if(parseInt(data)==1)
                 window.location.href=window.location.href;
             else
                 alert('添加失败!');
         });
     }
     function removeGameTimes(region_id, index){
         $.get("/config/regions/match/removeGameTimes", { region_id: region_id, index : index, rnd : Math.random() }, function(data){
             if(parseInt(data)==1)
                 window.location.href=window.location.href;
             else
                 alert('删除失败!');
         });
     }
    function deleteStreakElement(region_id, loop, index){
        $.get("/config/regions/match/removeStreakElement", { region_id: region_id, loop : loop, index: index, rnd : Math.random() }, function(data){
            if(parseInt(data)==1)
                window.location.href=window.location.href;
            else
                alert('删除失败!');
        });
     }
     function updateStreakElement(region_id, loop, index){

        var count = $('#chips_additions_'+loop+'_'+index).val();
         $.get("/config/regions/match/updateStreakElement", { region_id: region_id, loop : loop, count : count, index: index, rnd : Math.random() }, function(data){
             if(parseInt(data)==1){
                 alert('更新成功!');
             }
             else
                 alert('删除失败!');
         });
      }
     function addStreakElement(region_id, loop){
        var count = $('#chips_additions'+loop).val();
        $.get("/config/regions/match/addStreakElement", { region_id: region_id, loop : loop, count : count, rnd : Math.random() }, function(data){
            if(parseInt(data)==1)
                window.location.href=window.location.href;
            else
                alert('添加失败!');
        });
     }



     function addAntesLoop(region_id){
          $.get("/config/regions/match/addAntesLoop", { region_id: region_id, rnd : Math.random() }, function(data){
              if(parseInt(data)==1)
                  window.location.href=window.location.href;
              else
                  alert('添加失败!');
          });
      }
      function removeAntesLoop(region_id, index){
          $.get("/config/regions/match/removeAntesLoop", { region_id: region_id, index : index, rnd : Math.random() }, function(data){
              if(parseInt(data)==1)
                  window.location.href=window.location.href;
              else
                  alert('删除失败!');
          });
      }
     function deleteAntesRound(region_id, loop, index){
         $.get("/config/regions/match/deleteAntesRound", { region_id: region_id, loop : loop, index: index, rnd : Math.random() }, function(data){
             if(parseInt(data)==1)
                 window.location.href=window.location.href;
             else
                 alert('删除失败!');
         });
      }
      function updateAntesRound(region_id, loop, index){
         var count = $('#antes_additions_'+loop+'_'+index).val();
        $.get("/config/regions/match/updateAntesRound", { region_id: region_id, loop : loop, count : count, index: index, rnd : Math.random() }, function(data){
           if(parseInt(data)==1)
               alert('更新成功!');
           else
               alert('删除失败!');
        });
    }
      function addAntesRound(region_id, loop){
         var count = $('#antes_additions'+loop).val();
         $.get("/config/regions/match/addAntesRound", { region_id: region_id, loop : loop, count : count, rnd : Math.random() }, function(data){
             if(parseInt(data)==1)
                 window.location.href=window.location.href;
             else
                 alert('添加失败!');
         });
      }


     function addRoundPeople(region_id){
         var people = $('#people').val();
          $.get("/config/regions/match/addRoundPeople", { region_id: region_id, people : people, rnd : Math.random() }, function(data){
              if(parseInt(data)==1)
                  window.location.href=window.location.href;
              else
                  alert('添加失败!');
          });
     }
     function updateRoundPeople(region_id, index){
         var people = $('#people'+index).val();
          $.get("/config/regions/match/updateRoundPeople", { region_id: region_id, people : people, index: index, rnd : Math.random() }, function(data){
              if(parseInt(data)==1)
                  alert('更新成功!');
              else
                  alert('删除失败!');
          });
     }
     function removeRoundPeople(region_id, index){
          $.get("/config/regions/match/removeRoundPeople", { region_id: region_id, index: index, rnd : Math.random() }, function(data){
              if(parseInt(data)==1)
                  window.location.href=window.location.href;
              else
                  alert('删除失败!');
          });
     }


     function addRankArea(region_id){
         var no = $('#rank').val();
         $.get("/config/regions/match/addRankArea", { region_id: region_id, no : no, rnd : Math.random() }, function(data){
             if(parseInt(data)==1)
                 window.location.href=window.location.href;
             else
                 alert('添加失败!');
         });
     }
     function removeRankArea(region_id, index){
          $.get("/config/regions/match/removeRankArea", { region_id: region_id, index: index, rnd : Math.random() }, function(data){
              if(parseInt(data)==1)
                  window.location.href=window.location.href;
              else
                  alert('删除失败!');
          });
     }

    function removeAreaElement(region_id, no, element_index){
        $.get("/config/regions/match/removeAreaElement", { region_id: region_id, no : no, index: element_index, rnd : Math.random() }, function(data){
            if(parseInt(data)==1)
                window.location.href=window.location.href;
            else
                alert('删除失败!');
        });
     }
     function addAreaElement(region_id, index){
        var element_id = $('#area_element'+index).val();
        var count = $('#area_count'+index).val();
        $.get("/config/regions/match/addAreaElement", { region_id: region_id, index : index, element_id: element_id, count : count, rnd : Math.random() }, function(data){
            if(parseInt(data)==1)
                window.location.href=window.location.href;
            else
                alert('添加失败!');
        });
     }


     function addConsumeElement(region_id){
        var element_id = $('#consume_element').val();
        var count = $('#consume_count').val();
        $.get("/config/regions/match/addConsumeElement", { region_id: region_id, element_id: element_id, count : count, rnd : Math.random() }, function(data){
            if(parseInt(data)==1)
                window.location.href=window.location.href;
            else
                alert('添加失败!');
        });
     }

    function removeConsumeElement(region_id, index){
        $.get("/config/regions/match/removeConsumeElement", { region_id: region_id, index: index, rnd : Math.random() }, function(data){
            if(parseInt(data)==1)
                window.location.href=window.location.href;
            else
                alert('删除失败!');
        });
     }

</script>
<div class="pagetitle">
     <a href="/config/regions/match">返回</a>
</div>
<div class="message">
    <%-message%>
</div>
<form id="form1" name="form1" method="post" action="/config/regions/match/edit?id=<%-result.region_id%>">
<table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
    <tr>
        <td class="title1">ID</td>
        <td class="title1">名称</td>
        <td class="title1">描述</td>
        <td class="title1">游戏场详细描述</td>
        <td class="title1">背景ID</td>
        <td class="title1">底注</td>
        <td class="title1">最小金贝</td>
        <td class="title1">最大金贝</td>
    </tr>
    <tr>
        <td class="data1"><%-result.region_id%></td>
        <td class="data1"><input type="text" name="name" id="name" value="<%-result.name%>" /></td>
        <td class="data1"><textarea name="description" id="description"><%-result.description%></textarea></td>
        <td class="data1"><textarea name="detail_description" id="detail_description"><%-result.detail_description%></textarea></td>
        <td class="data1"><input type="text" name="scene_id" id="scene_id" value="<%-result.scene_id%>" /></td>
        <td class="data1"><input type="text" name="antes" id="antes" value="<%-result.antes%>" /></td>
        <td class="data1"><input type="text" name="min" id="min" value="<%-result.min%>" /></td>
        <td class="data1"><input type="text" name="max" id="max" value="<%-result.max%>" /></td>
    </tr>
    <tr>
        <td class="title1">托管</td>
        <td class="title1">选牌</td>
        <td class="title1">开始时间</td>
        <td class="title1">结束时间</td>
        <td class="title1">循环周期</td>
        <td class="title1">基础金贝</td>
        <td class="title1">淘汰金贝</td>
        <td class="title1">人数下限</td>
    </tr>
    <tr>
        <td class="data1"><input name="box1" type="checkbox" id="box1" value="1" <%if(result.trusteeship){%>checked="checked"<%}%> /></td>
        <td class="data1"><input name="box2" type="checkbox" id="box2" value="1" <%if(result.select_help){%>checked="checked"<%}%> /></td>
        <td class="data1"><input type="text" name="begin_date" id="begin_date" value="<%-(new Date(Date.parse(result.match.begin_date))).format('yyyy-MM-dd hh:mm:ss')%>" style="width:130px;"/></td>
        <td class="data1"><input type="text" name="end_date" id="end_date" value="<%-(new Date(Date.parse(result.match.end_date))).format('yyyy-MM-dd hh:mm:ss')%>" style="width:130px;"/></td>
        <td class="data1"><input type="text" name="loop_cycle" id="loop_cycle" value="<%-result.match.loop_cycle%>" /></td>
        <td class="data1"><input type="text" name="base_chips" id="base_chips" value="<%-result.match.base_chips%>"/></td>
        <td class="data1"><input type="text" name="out_chips" id="out_chips" value="<%-result.match.out_chips%>"/></td>
        <td class="data1"><input type="text" name="match_min" id="match_min" value="<%-result.match.min%>"/></td>
    </tr>
    <tr>
        <td class="title1">人数上限</td>
        <td class="title1">母级</td>
        <td class="title1">奖励描述</td>
        <td class="title1"></td>
        <td class="title1"></td>
        <td class="title1"></td>
        <td class="title1"></td>
        <td class="title1">编辑</td>
    </tr>
    <tr>
        <td class="data1"><input type="text" name="match_max" id="match_max" value="<%-result.match.max%>"/></td>
        <td class="title1">
            <select name="type" id="type">
             <option value="1"<%if(result.type==1){%>selected="selected""<%}%>>自由桌</option>
             <option value="2"<%if(result.type==2){%>selected="selected""<%}%>>比赛场</option>
             <option value="3"<%if(result.type==3){%>selected="selected""<%}%>>免费赢奖</option>
             <option value="4"<%if(result.type==4){%>selected="selected""<%}%>>一战成名</option>
            </select>
        </td>
        <td class="data1"><textarea name="reward_description" id="reward_description"><%-result.reward_description%></textarea></td>
        <td class="title1"></td>
        <td class="title1"></td>
        <td class="title1"></td>
        <td class="title1"></td>
        <td class="data1"><input type="submit" name="submit" id="submit" value="提交" /></td>
    </tr>
</table>
</form>
<br />
<table width="80%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
    <tr>
        <td class="title1">消耗</td>
        <td class="data1">
           <table width="80%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
              <tr>
                  <td class="title">物品</td>
                  <td class="title">数量</td>
                  <td class="title">操作</td>
              </tr>
              <%
                  result.consume.forEach(function(element, i){
              %>
              <tr>
                  <td class="data"><%-element.element_id%></td>
                  <td class="data"><%-element.count%></td>
                  <td class="data"><a href="javascript:removeConsumeElement(<%-result.region_id%>,<%-i%>);">删除</a></td>
              </tr>
              <%
                  });
              %>
              <tr>
                  <td class="data">
                     <select name="consume_element" id="consume_element">
                         <option value="10001">金贝</option>
                         <%
                                                  items.forEach(function(item, i) {
                                                  %>
                                                     <option value="<%-item.item_id%>"><%-item.name%></option>
                                                  <%
                                                  });
                                                  %>
                     </select>
                  </td>
                  <td class="data"><input type="text" name="consume_count" id="consume_count" /></td>
                  <td class="data"><input type="button" name="button1" id="button1" value="添加" onclick="addConsumeElement(<%-result.region_id%>);" /></td>
              </tr>
          </table>
        </td>
    </tr>
    <tr>
        <td class="title1">局数</td>
        <td class="data1">
            <table width="80%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
                 <tr>
                     <td class="title">轮数</td>
                     <td class="title">局数</td>
                     <td class="title">编辑</td>
                 </tr>
                 <%
                     result.match.round_count.forEach(function(round, i){
                 %>
                 <tr>
                    <td class="data">第<%-i+1%>轮</td>
                    <td class="data"><input type="text" name="round<%-i%>" id="round<%-i%>" value="<%-round%>" /></td>
                    <td class="data"><a href="javascript:removeRound(<%-result.region_id%>,<%-i%>);">删除</a> <a href="javascript:updateRound(<%-result.region_id%>,<%-i%>);">编辑</a></td>
                 </tr>
                 <%});%>
                 <tr>
                    <td class="title">--</td>
                    <td class="title"><input type="text" name="round" id="round" /></td>
                    <td class="title"><input type="button" name="button1" id="button1" value="添加" onclick="addRound(<%-result.region_id%>);" /></td>
                 </tr>
             </table>
        </td>
    </tr>
    <tr>
        <td class="title1">淘汰金贝增量</td>
        <td class="data1">
             <table width="80%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
                <tr>
                    <td class="title">轮数</td>
                    <td class="title">局数增量</td>
                    <!--<td class="title">编辑</td>-->
                </tr>
                <%
                    result.match.out_chips_additions.forEach(function(loop, i){
                %>
                    <tr>
                        <td class="data">第<%-i+1%>轮</td>
                        <td class="data">
                            <table width="80%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
                                <tr>
                                    <td class="title">局数</td>
                                    <td class="title">增量</td>
                                    <td class="title">编辑</td>
                                </tr>
                                <%
                                    loop.forEach(function(round, j){
                                %>
                                <tr>
                                   <td class="data">第<%-j+1%>局</td>
                                   <td class="data"><input type="text" name="chips_additions_<%-i%>_<%-j%>" id="chips_additions_<%-i%>_<%-j%>" value="<%-round%>" /></td>
                                   <td class="data"><!--<a href="javascript:deleteStreakElement(<%-result.region_id%>,<%-i%>, <%-j%>);">删除</a>--> <a href="javascript:updateStreakElement(<%-result.region_id%>,<%-i%>, <%-j%>);">编辑</a></td>
                                </tr>
                                <%});%>
                                <!--
                                <tr>
                                   <td class="title">--</td>
                                   <td class="title"><input type="text" name="chips_additions<%-i%>" id="chips_additions<%-i%>" /></td>
                                   <td class="title"><input type="button" name="button1" id="button1" value="添加" onclick="addStreakElement(<%-result.region_id%>,<%-i%>);" /></td>
                                </tr>
                                -->
                            </table>
                        </td>
                        <!--<td class="data"><a href="javascript:removeGameTimes(<%-result.region_id%>,<%-i%>);">删除</a></td>-->
                    </tr>
                <%
                    });
                %>
                <!--
                    <tr>
                        <td class="data"></td>
                        <td class="data">---</td>
                        <td class="data"><input type="button" name="button2" id="button2" value="添加" onclick="addGameTimes(<%-result.region_id%>);"/></td>
                    </tr>
                -->
             </table>
        </td>
    </tr>
    <tr>
        <td class="title1">底注增量</td>
        <td class="data1">
          <table width="80%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
              <tr>
                  <td class="title">轮数</td>
                  <td class="title">局数增量</td>
                  <!--<td class="title">编辑</td>-->
              </tr>
              <%
                  result.match.antes_additions.forEach(function(loop, i){
              %>
                  <tr>
                      <td class="data">第<%-i+1%>轮</td>
                      <td class="data">
                          <table width="80%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
                              <tr>
                                  <td class="title">局数</td>
                                  <td class="title">增量</td>
                                  <td class="title">编辑</td>
                              </tr>
                              <%
                                  loop.forEach(function(round, j){
                              %>
                              <tr>
                                 <td class="data">第<%-j+1%>局</td>
                                 <td class="data"><input type="text" name="antes_additions_<%-i%>_<%-j%>" id="antes_additions_<%-i%>_<%-j%>" value="<%-round%>" /></td>
                                 <td class="data"><!--<a href="javascript:deleteAntesRound(<%-result.region_id%>,<%-i%>, <%-j%>);">删除</a>--> <a href="javascript:updateAntesRound(<%-result.region_id%>,<%-i%>, <%-j%>);">编辑</a></td>
                              </tr>
                              <%});%>
                              <!--
                              <tr>
                                 <td class="title">--</td>
                                 <td class="title"><input type="text" name="antes_additions<%-i%>" id="antes_additions<%-i%>" /></td>
                                 <td class="title"><input type="button" name="button1" id="button1" value="添加" onclick="addAntesRound(<%-result.region_id%>,<%-i%>);" /></td>
                              </tr>
                              -->
                          </table>
                      </td>
                      <!--<td class="data"><a href="javascript:removeAntesLoop(<%-result.region_id%>,<%-i%>);">删除</a></td>-->
                  </tr>
              <%
                  });
              %>
              <!--
                  <tr>
                      <td class="data"></td>
                      <td class="data">---</td>
                      <td class="data"><input type="button" name="button2" id="button2" value="添加" onclick="addAntesLoop(<%-result.region_id%>);"/></td>
                  </tr>
              -->
           </table>
        </td>
    </tr>
    <tr>
        <td class="title1">每轮进级人数</td>
        <td class="data1">
            <table width="80%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
                 <tr>
                     <td class="title">轮数</td>
                     <td class="title">人数</td>
                     <td class="title">编辑</td>
                 </tr>
                 <%
                     result.match.round_promotions.forEach(function(round, i){
                 %>
                 <tr>
                    <td class="data">第<%-i+1%>轮</td>
                    <td class="data"><input type="text" name="people" id="people<%-i%>" value="<%-round%>" /></td>
                    <td class="data"><!--<a href="javascript:removeRoundPeople(<%-result.region_id%>,<%-i%>);">删除</a>--> <a href="javascript:updateRoundPeople(<%-result.region_id%>,<%-i%>);">编辑</a></td>
                 </tr>
                 <%});%>
                 <!--
                 <tr>
                    <td class="title">--</td>
                    <td class="title"><input type="text" name="people" id="people" /></td>
                    <td class="title"><input type="button" name="button1" id="button1" value="添加" onclick="addRoundPeople(<%-result.region_id%>);" /></td>
                 </tr>
                 -->
             </table>
        </td>
    </tr>
    <tr>
        <td class="title1">奖励</td>
        <td class="data1">
          <table width="80%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
              <tr>
                  <td class="title">名次域</td>
                  <td class="title">奖励</td>
                  <td class="title">编辑</td>
              </tr>
              <%
                  result.match.rewards.forEach(function(prize, i){
              %>
                  <tr>
                      <td class="data"><%-prize.no%></td>
                      <td class="data">
                           <table width="80%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
                               <tr>
                                   <td class="title">物品</td>
                                   <td class="title">数量</td>
                                   <td class="title">操作</td>
                               </tr>
                               <%
                                   prize.elements.forEach(function(element, j){
                               %>
                               <tr>
                                   <td class="data"><%-element.element_id%></td>
                                   <td class="data"><%-element.count%></td>
                                   <td class="data"><a href="javascript:removeAreaElement(<%-result.region_id%>,<%-i%>,<%-j%>);">删除</a></td>
                               </tr>
                               <%
                                   });
                               %>
                               <tr>
                                   <td class="data">
                                      <select name="area_element<%-i%>" id="area_element<%-i%>">
                                          <option value="10001">金贝</option>
                                          <%
                                                                   items.forEach(function(item, i) {
                                                                   %>
                                                                      <option value="<%-item.item_id%>"><%-item.name%></option>
                                                                   <%
                                                                   });
                                                                   %>
                                      </select>
                                   </td>
                                   <td class="data"><input type="text" name="area_count<%-i%>" id="area_count<%-i%>" /></td>
                                   <td class="data"><input type="button" name="button1" id="button1" value="添加" onclick="addAreaElement(<%-result.region_id%>,<%-i%>);" /></td>
                               </tr>
                           </table>
                      </td>
                      <td class="data"><a href="javascript:removeRankArea(<%-result.region_id%>,<%-i%>);">删除</a></td>
                  </tr>
              <%
                  });
              %>
                  <tr>
                      <td class="data"><input type="text" name="rank" id="rank" /></td>
                      <td class="data">---</td>
                      <td class="data"><input type="button" name="button4" id="button4" value="添加" onclick="addRankArea(<%-result.region_id%>);"/></td>
                  </tr>
           </table>
        </td>
    </tr>
</table>