<div class="pagetitle">
    <a href="/lottery/pool_Item/index?id=<%-results.poolItems.Pool_Id%>">返回列表</a>
</div>
<div class="message">
    <%-message%>
</div>
<form id="form1" name="form1" method="post">
    <input type="submit" name="submit" id="submit" value="提交" />

    <table width="99%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
        <tr class="title">
            <td colspan="4">奖池物品配置</td>
        </tr>
        <tr>
            <td class="title">
                奖池编号
            </td>
            <td class="data">
                <label ><%-results.poolItems.Pool_Id%></label>
                <input  name="pool_Id" id="pool_Id" value="<%-results.poolItems.Pool_Id%>" style="visibility: hidden"/>
            </td>
        </tr>
        <tr>
            <td class="title">
                奖池物品编号
            </td>
            <td class="data">
                <label name="pool_Item_Id" id="pool_Item_Id"><%-results.poolItems.Pool_Item_Id%></label>
                <input name="pool_Item_Id" id="pool_Item_Id" value="<%-results.poolItems.Pool_Item_Id%>" style="visibility: hidden"/>
            </td>
        </tr>
        <tr>
            <td class="title">
                奖池品质
            </td>
            <td class="data">
                <input type="text" name="pool_Quality" id="pool_Quality" value="<%-results.poolItems.Pool_Quality%>" />
            </td>
        </tr>
        <tr>
            <td class="title">
                奖池道具
            </td>
            <td class="data">
                <select name = "item_Id" id = "item_Id">
                    <option value=""></option>
                    <%results.items.forEach(function(item){%>
                    <option value="<%-item.Item_Id%>" <%if(item.Item_Id==results.poolItems.Item_Id){%>selected="selected" <%}%>>(<%-item.Item_Order%>)<%-item.Item_Name%></option>
                    <%})%>

                </select>

            </td>
        </tr>
        <tr>
            <td class="title">
                道具数量
            </td>
            <td class="data">
                <input type="text" name="item_Amount" id="item_Amount" value="<%-results.poolItems.Item_Amount%>" />
            </td>
        </tr>

        <tr>
            <td class="title">
                描述
            </td>
            <td class="data">
                <textarea name="description" id="description" cols="45" rows="5"><%-results.poolItems.Description%></textarea>
            </td>
        </tr>

    </table>


</form>